In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'Name': ['Nitin', 'Anusha','Aahana'],'Place': ['Ajmer', 'Jaipur','Santa Clara'],'Sex': ['Male', 'Female','Female']})

In [3]:
df

     Name        Place     Sex
0   Nitin        Ajmer    Male
1  Anusha       Jaipur  Female
2  Aahana  Santa Clara  Female